vlan 2 name zrp-train-repair
vlan 3 name pis-train-repair
vlan 5 name cctv-net
vlan 6 name reserve-net
vlan 7 name obs-net
vlan 8 name apc-net
vlan 9 name call-point-net
vlan 10 name client-net1
vlan 12 name call-point-net
vlan 15 name multitraction-transit
vlan 20 name client-net2
vlan 21 name link-sharing-net1
vlan 22 name link-sharing-net2
vlan 23 name link-sharing-net3
vlan 24 name link-sharing-net4
vlan 30 name staff-net
vlan 31 name zub-priv-nomad-net
vlan 46 name automate-1
vlan 48 name automate-2
vlan 90 name funksensor-net
vlan 100 name mng-nomad-net
vlan 131 name zub-none-priv-nomad-net
vlan 150 name catering-net
vlan 200 name rdc-nomad-net
vlan 202 name rdc-interconnect-net